---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   Halo! Saya sangat tertarik dengan dunia pengembangan web, terutama dalam hal bagaimana teknologi web dapat digunakan untuk menciptakan pengalaman pengguna yang menarik dan fungsional. Saya memiliki minat besar dalam menciptakan aplikasi web yang interaktif, responsif, dan mudah digunakan di berbagai perangkat, mulai dari desktop hingga mobile. Fokus utama saya adalah memastikan setiap aplikasi yang saya bangun tidak hanya tampak bagus secara visual, tetapi juga memberikan pengalaman pengguna yang lancar, intuitif, dan efisien. Saya senang terus belajar dan mengikuti perkembangan terbaru dalam teknologi web, sehingga saya dapat mengintegrasikan praktik terbaik dan solusi inovatif ke dalam proyek-proyek saya.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="SMP"
      subtitle="2019 - 2022 SMP Negeri 28 Bandung"
    />
    <TimeLineElement
      title="SMK"
      subtitle="2022 - 2025 SMK Negeri 4 Bandung"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Kunjungan Industri"
      subtitle="2022"
    >
      Melakukan kunjungan Industri pada tahun 2022 ke AMIKOM Yogyakarta.
    </TimeLineElement>
    <TimeLineElement
      title="Kunjungan Sekolah"
      subtitle="2023"
    >
     Melakukan kunjungan ke sekolah SMK Mitra Industri MM2100 bersama pihak MedianSkill dan LearningX.
    </TimeLineElement>
    <TimeLineElement
      title="Mengerjakan Projek bersama MedianSkill"
      subtitle="2023"
    >
    Mengerjakan Projek Restaurant Inventory bersama pihak Medianskill tahun 2023.  
    </TimeLineElement>
    <TimeLineElement
      title="Mengerjakan Projek Teaching Factory bersama Curaweda"
      subtitle="2024"
    >
    Mengerjakan Projek Aplikasi presensi.  
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

 <ul class="list-disc md:columns-3 columns-2 gap-6 mx-6">
    <li><strong>HTML:</strong> Memahami dasar-dasar HTML untuk membuat struktur halaman web sederhana dan rapi.</li>
    
    <li><strong>Python:</strong> Menguasai penggunaan Python untuk mengembangkan aplikasi dengan struktur yang baik, serta memiliki pemahaman mendalam terhadap pustaka seperti Flask untuk pengembangan web dan Pandas untuk analisis data. Terbiasa menerapkan konsep pemrograman berorientasi objek dan memanfaatkan framework serta pustaka tersebut untuk membangun solusi yang efisien dan scalable.</li>
    
    <li><strong>JavaScript:</strong> Mengerti cara membuat fungsi interaktif sederhana di halaman web dan memahami dasar-dasar JavaScript untuk manipulasi DOM.</li>
    
    <li><strong>MySQL:</strong> Bisa membuat dan mengelola database sederhana, serta menulis query dasar untuk mengambil dan menyimpan data.</li>
    
    <li><strong>Laravel:</strong> Memahami dasar-dasar framework Laravel dan mampu membuat aplikasi web sederhana dengan autentikasi dasar.</li>
    
    <li><strong>PHP:</strong> Menguasai dasar-dasar PHP untuk membuat halaman web dinamis dan melakukan pengolahan form sederhana.</li>
    
    <li><strong>Java:</strong> Mampu menulis program Java dasar dan memiliki pengalaman dalam membuat aplikasi berbasis objek yang sederhana.</li>
    
    <li><strong>Vite JS:</strong> Memahami cara menggunakan Vite untuk membuat proyek frontend sederhana dengan build tool yang cepat.</li>
    
    <li><strong>Vue JS:</strong> Mengerti konsep dasar Vue JS untuk membuat komponen UI interaktif sederhana dalam aplikasi web.</li>
</ul>


    <!-- <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li> -->
  </ul>
</BaseLayout>
