---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Halo! 👋</div>
    <div class="text-5xl font-bold">Muhammad Rafif Ramadhan</div>
    <div class="text-3xl py-3 font-bold">Web Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Halo! Saya sangat tertarik dengan dunia web developer 
        dan memiliki minat besar dalam menciptakan aplikasi web yang interaktif, responsif, dan mudah digunakan.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div>
  </div> -->

  <div>
    <div class="text-3xl w-full font-bold mb-2">Projek Terbaik Saya  {"</>"}</div>
  </div>

  <HorizontalCard
    title="Sneakers Shop"
    img="/sneakers_shop.png"
    desc="Website Toko Sepatu - Tugas MPRPL : Pengguna bisa melihat-lihat sepatu dan bisa mencari model tertentu menggunakan search bar."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Favorite Movies"
    img="/favorite_movies.png"
    desc="Website Favorite Movies - Tugas Informatika : Pengguna bisa melihat film favorite mereka dan bisa menambah list film hanya dengan memasukan link imdb nya."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Restaurant Inventory"
    img="/goat_web.png"
    desc="Website Inventori Restoran - Tugas KK4RPL : Pengguna bisa melakukan aktivitas CRUD (Create, Read, Update, Delete) untuk membuat pesanan"
    url="#"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
